.info_table {
	width:auto;
	table-layout:fixed;
    margin-left:auto;
    margin-right:auto;
	width:600px;
}

.reglament {
	text-align: justify;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-indent: 10px;
}

.reglament img {
	width: 600px;
}

ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
   }
   
li:before {
  content: counter(item) ') '; /* Добавляем к числам скобку */
  counter-increment: item; /* Задаём имя счетчика */
}

.prizes_table {
	width:600px;
	margin-bottom: 20px;
}

th {
	padding-right:20px;
	padding-left:20px;
}

.button {
	cursor: pointer;
	background-color: #B0EEB0;
	color: #000000;
	display: inline-block;
	padding-right:20px;
	padding-left:20px;
	padding-top:2px;
	padding-bottom:2px;
}

#tenhou_nick,#who_am_i {
	padding-top: 2px;
	padding-bottom: 2px;
}

#contacts,#message,#replay_url,#offline {
	width:450px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.checkbox_label {
	cursor: pointer;
	margin-bottom: 7px;
}

.applications {
	margin-top: 15px;
}


.register_form,.report_form,.replay_form {
	width:460px;
	text-align:left;
    margin-left:auto;
    margin-right:auto;
	display: inline-block;
}

.applications_count,.confirmations_count {
	font-size:200%;
	margin:0px;
}

.applications_title,.confirmations_title {
	font-size:100%;
	margin:0px;
}

.applicant_names,.confirmations_names {
	width: 400px;
    margin-left:auto;
    margin-right:auto;

}


.results_table {
	width:1000px;
	table-layout:fixed;
    margin-left:auto;
    margin-right:auto;
}


.results_table td {
    vertical-align:top;
    text-align: center;
}

.results_table .board {
		vertical-align:center;
}

.round_table {
	table-layout:fixed;
    margin-left:auto;
    margin-right:auto;
	width:auto;
}

.totals_table {
	table-layout:fixed;
	width:auto;
}

.totals_table td {
	padding: 5px;
}

.round_table td {
	padding: 5px;
}

body {
	background-color: #E0FFE0;
	text-align: center;
}
